.login-body {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    background-image: url(../../login_background5.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

.login-wrapper {
    width: 400px;
    height: 450px;
    background-color: #f0eeef;
    border-radius: 5px;
    border: #d6d5d6 2px solid;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    /* justify-self: center; */
    position: absolute;
    left: 50%;
    padding: 40px;
}

.titles {
    display: flex;
    flex-direction: column;
    position: absolute;
    left: 20%;
    width: 400px;
    height: 450px;
}

.login-title {
    color: #536dff;
    font-size: 100px;
}

.login-subtitle {
    color: #fbfcfe;
}

.login-wrapper h1 {
    margin-bottom: 20px;
    color: #171717;
}

.login-wrapper form {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.login-wrapper button {
    background-color: #536dff;
    color: #fbfcfe;
    width: 180px;
    height: 40px;
    border-radius: 20px;
}

.login-wrapper input {
    width: 320px;
    height: 40px;
    border: #a9a9a9 2px solid;
    background-color: #fbfcfe;
    border-radius: 5px;
    padding: 10px;
    
}

.checkbox {
    display: flex;
    align-items: center;
}

.checkbox input {
    width: 20px;
    height: 20px;
    margin-right: 5px;
}

.emlekezz_jelszo {
    display: flex;
    justify-content: space-between;
}

/* i {
    position: absolute;
    margin-left : 40px;
} */
